.friends {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.friendlist {
  padding: 0;
  list-style-type: none;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 360px;
  height: 130px;
  border: 1px solid #5a5858;
  border-radius: 4px;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}
.avatar {
  width: 100px;
  height: 100px;
  background-color: #5a5858;
  border-radius: 10px;
}
.status {
  margin: 15px;
  font-size: 55px;
}
.name {
  margin-left: 18px;
  font-size: 28px;
  font-weight: 500;
}
